DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
USE_SQLITE=False
POSTGRES_DB=elearn
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FLUTTERWAVE_SECRET_KEY=
